In [4]:
import numpy as np
import pandas as pd
df=pd.read_csv('ridge_correlated_150.csv')
df.head()

         x1        x2         y
0  0.304717  0.296785  1.184256
1 -1.039984 -1.091767 -1.703349
2  0.750451  0.666717  1.349833
3  0.940565  0.916249  0.824933
4 -1.951035 -1.953724 -1.976319

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeCV
from sklearn.metrics import mean_squared_error,r2_score
x=df[['x1','x2']]
y=df['y']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model=RidgeCV(alphas=np.logspace(-3,3,100),cv=5)
model.fit(x_train,y_train)  # fit the model in ridge
print(f'Best alpha:{model.alpha_}\n')
print(f'coefficients:{model.coef_}\n')
print(f'Intercept:{model.intercept_}\n')
y_pred=model.predict(x_test)
print(f'R^2:{r2_score(y_test,y_pred)}\n')
print(f'RMSE:{np.sqrt(mean_squared_error(y_test,y_pred))}\n')

Best alpha:0.006135907273413176

coefficients:[ 4.44044028 -3.43936239]

Intercept:0.01235141527258056

R^2:0.6540701537760767

RMSE:0.5704298447339554